<div class="row">
    <div class="col-xs-12">
        <button [routerLink]="['new']" class="btn btn-success">New Recipee</button>
    </div>
</div>
<hr>  
<div class="row">
    <div class="col-xs-12">
        
        <app-recipee-item *ngFor="let r of recipees; index as i" [r]="r" [id]="i+1"
            
        ></app-recipee-item>
        <!-- <app-recipee-item *ngFor="let r of recipees" [r]="r"
            (recipeeClickEvent)="selectedRecipee(r)"
        ></app-recipee-item> -->
    </div>
</div>
